header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  padding: 10px 20px;
  // width: calc(100% - #{$aside-padding} - 40px);
  @include transition(0.3s);

  @include bp(underdesktop) {
    padding: 10px 0;
  }

  .side-menu {
    float: right;
    font-size: 1.3em;
    padding: 8px;
    color: #ccc;
    margin: 1px 0 0 0;

    @include bp(desktop) {
      display: none;
    }
  }

  .user-login {
    position: relative;
    overflow: hidden;
    margin: 8px 0 0 0;
    float: left;
    cursor: pointer;
    @include bp(undertablet) {
      margin-top: 0px;
    }
    @include bp(tablet) {
      margin-top: 0px;
    }
    @include bp(upper1090) {
      margin-top: 11px;
    }
    .mobile {
      float: left;
      font-size: 1.3em;
      padding: 8px;
      color: #ccc;
    }
    a {
      border: 1px solid $color-primary;
      float: right;
      @include transition(0.3s);
      &:nth-child(1),
      &:nth-child(3) {
        //
        padding: 11px;
        min-width: 60px;
        text-align: center;
        font-weight: normal;
        @include bp(mobile) {
          padding: 8px;
        }
      }
      &:nth-child(1) {
        border-left: none;
        border-radius: 0 5px 0 0;
        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
      &:nth-child(3) {
        border-right: none;
        border-radius: 0 0 0 5px;
        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
      &:nth-child(2) {
        border: none;
        content: "";
        position: absolute;
        top: -10px;
        border-right: 1px solid $color-primary;
        border-left: 1px solid $color-primary;
        background: #fff;
        width: 9px;
        right: 77px;
        height: 60px;
        -ms-transform: rotate(20deg); /* IE 9 */
        -webkit-transform: rotate(20deg); /* Safari */
        transform: rotate(20deg);
      }
    }

    &:hover span:nth-child(2) {
      -ms-transform: rotate(-20deg); /* IE 9 */
      -webkit-transform: rotate(-20deg); /* Safari */
      transform: rotate(-20deg);
    }
    &:hover span:nth-child(1) {
      border-radius: 0 0 15px 0;
    }
    &:hover span:nth-child(3) {
      border-radius: 15px 0 0 0;
    }
  }

  .user-navbar {
    float: left;
    border: 1px solid $color-primary;
    padding: 11px;
    position: relative;
    @include borderRadius(5px);
    cursor: pointer;

    &.active {
      .list {
        opacity: 1;
        visibility: visible;
      }
    }
    i {
      margin: 0 11px 0 0;
    }
    .list {
      position: absolute;
      top: 37px;
      right: -1px;
      background: #fff;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      border: 1px solid $color-primary;
      border-top: none;
      @include transition(0.3s);
      @include borderRadius(0 0 5px 5px);
      a {
        text-align: center;
        padding: 5px 0;
        color: #666;
        border-bottom: 1px solid #eee;
        &::last-child() {
          border-bottom: none;
        }
        &::hover {
          color: $color-primary;
        }
        @include container-width();
      }
    }
  }
  .search {
    margin: auto;
    margin-top: 8px;
    display: table;
    position: relative;
    background: #e7e7e7;
    overflow: hidden;
    @include borderRadius(5px);

    // @include bp(undertablet) {
    //   margin: auto;
    //   margin-top: 4px;
    //   float: inherit;
    // }

    @include bp(underdesktop) {
      float: right;
      margin: 0px;
      background: #fff;
      min-width: inherit;
      width: initial;
    }

    .break-line {
      border: none;
      content: "";
      position: absolute;
      top: -10px;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      background: #fff;
      width: 9px;
      left: 50px;

      height: 60px;
      -ms-transform: rotate(20deg); /* IE 9 */
      -webkit-transform: rotate(20deg); /* Safari */
      transform: rotate(20deg);

      @include bp(undertablet) {
        display: none;
      }
    }
    // .focus {
    //   border-right: 1px solid $color-primary;
    //   border-left: 1px solid $color-primary;
    // }
    i {
      position: absolute;
      overflow: hidden;
      top: 1px;
      left: 1px;
      font-size: 1.3em;
      padding: 9px 15px;
      color: #ccc;
      float: left;
      float: right;
      cursor: pointer;
      @include borderRadiusAll(5px, 0px, 0px, 5px);
      @include transition(0.3s);
      @include bp(undertablet) {
        position: static;
        float: left;
        padding: 8px 10px;
      }

      &:hover {
        color: $color-primary;
      }
    }
    input {
      padding: 7px 15px 7px 40px;
      outline: none;
      overflow: hidden;
      @include transition(0.5s);
      @include borderRadius(5px);
      background: #f7f7f7;
      border: 1px solid #ddd;
      min-width: 320px;
      @include bp(underdesktop) {
        display: none;
      }

      &.search:hover {
        // border: 1px solid red;

        border-right: 1px solid $color-primary;
        border-left: 1px solid $color-primary;
      }
    }
  }

  .logo {
    float: right;

    .img {
      width: 50px;
      height: 50px;
      float: right;
      background: #eee;
      @include borderRadius(100px);

      @include bp(underdesktop) {
        width: 40px;
        height: 40px;
      }
    }
    h1 {
      margin: 0 10px 0 0;
      float: right;
      @include bp(underdesktop) {
        display: none;
      }

      span {
        clear: both;
        float: right;
        &:nth-child(1) {
          margin: 8px 0 0 0;
        }
        &:nth-child(2) {
          color: darkgray;
          margin: 5px 0 0 0;
          font-size: 0.8em;
        }
      }
    }
  }
}
