@font-face {
  font-family: "IRANSansWeb-Bold";
  src: url("../fonts/iranSans/IRANSansWeb_Bold.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranSans/IRANSansWeb_Bold.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansWeb-Light";
  src: url("../fonts/iranSans/IRANSansWeb_Light.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranSans/IRANSansWeb_Light.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansWeb-UltraLight";
  src: url("../fonts/iranSans/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/iranSans/IRANSansWeb_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranSans/IRANSansWeb_UltraLight.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "iranSans";
  src: url("../fonts/iranSans/IRANSansWeb_Medium.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranSans/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb_Medium.ttf") format("truetype");
}
