
@font-face {
  font-family: "iranSans";
  src: url("../fonts/iranSans/IRANSansWeb_Medium.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/iranSans/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb_Medium.ttf") format("truetype");
}
