@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/iranSans/IRANSansWeb-Medium.eot");
  src: url("../../fonts/iranSans/IRANSansWeb-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/iranSans/IRANSansWeb-Medium.woff2") format("woff2"),
    url("../../fonts/iranSans/IRANSansWeb-Medium.woff") format("woff"),
    url("../../fonts/iranSans/IRANSansWeb-Medium.ttf") format("truetype"),
    url("../../fonts/iranSans/IRANSansWeb-Medium.svg#IRANSansWeb-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}
